# DaisyXBot example config


# Basic
TOKEN: "2059648913:AAFdRZn-M8VYHpi2k0LpyfzFA2JUq8bTzD4"

# Get they in https://my.telegram.org/
APP_ID: 6369084
APP_HASH: "3af7bfca3a921722da2eba35f8ac452f"

#Generate a telethon str session  with https://repl.it/@SpEcHiDe/GenerateStringSession (telethon one)
STRING_SESSION: ""


MONGO_URI: "mongodb+srv://dfsdfX:dfsfdX@cluster0.df4j.mongodb.net/myFirstDatabase?retryWrites=true&w=majority"

MONGO_URI2: ""
MONGO_PORT: 27017
MONGO_DB': 'DaisyX'

API_PORT': 8080

REDIS_URI: "redis-13952.c1.us-west-2-2.ec2.cloud.redislabs.com"
REDIS_PORT: 13952
REDIS_PASS: "UmVYceTiKzcwg99niwTRQ9j3btvM5Pmf"
TEMP_MAIL_KEY: ""
OWNER_ID: 1141839926
OPERATORS: [1141839926, 00000000]
SUPPORT_CHAT: -000000000
SUDO_USERS: ""

DATABASE_URL: ""
VIRUS_API_KEY: ""
TIME_API_KEY: ""
REM_BG_API_KEY: "LwcGvqExqUj6S5Aq2AcUZcaq
"
ARQ_API: "WPQFGR-FWZKCN-SNZFPY-LUNMVP-ARQ"

# Advanced
SW_API: ""
IBM_WATSON_CRED_URL: ""
IBM_WATSON_CRED_PASSWORD: ""
OPENWEATHERMAP_ID: ""
WOLFRAM_ID: ""
DEBUG_MODE: False
LOAD_MODULES: True
LOGS_CHANNEL_ID: -000000000
ALLOW_FORWARDS_COMMANDS: False
ALLOW_EXCEL: False
